.ContainerProjects {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  /* background-color: yellow; */
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.gold {
  color: var(--third-clr);
}

.line {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid white;
  margin-left: 10px;
}
.green {
  color: var(--secondary-clr);
  width: min-content;
}

.singleProject {
  width: 45%;
  background-color: var(--bg-clr-card);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  height: fit-content;
}

.imageProject {
  width: 100%;
}

.singleTitle {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--third-clr);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.livePreview {
  text-decoration: none;
  color: inherit;

  margin: 0 auto;
  color: var(--secondary-clr);
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.showMoreLessButton {
  border: none;
  background-color: transparent;
  color: grey;
}

.showMoreLessButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 708px) {
  .singleProject {
    width: 100%;
  }

  .singleTitle {
    height: 30px;
  }
}
