.ContainerExperiences {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 0 auto;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.gold {
  color: var(--third-clr);
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.line {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid white;
  margin-left: 10px;
}
.lineDark {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid black;
  margin-left: 10px;
}
.green {
  color: var(--secondary-clr);
  width: min-content;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.certificate {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* margin-bottom: 20px; */
  /* width: fit-content; */
}

.bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
}

.bullet::after {
  content: "";
  width: 2px;
  /* height: 120px; */
  height: 50px;
  background-color: #000;
  transform: translateX(-50%);
}

.content {
  display: flex;
  column-gap: 2%;
  /* background-color: red; */
}

.contentTitle {
  color: var(--secondary-clr);
}
.contentDescription {
  /* height: 140px; */
  height: fit-content;
}

.certificateDate {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-content: center;
}
.date {
  color: grey;
  font-size: clamp(8px, 2vw, 18px);
}

.certificateTitle {
  color: var(--secondary-clr);
}

.certificateDescription {
  width: 100%;
}
