.ContainerSkills {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 0 auto;
  font-size: var(--font-size);
  font-family: var(--font-family);
  /* background-color: yellow; */
  /* height: 400px; */
}

.gold {
  color: var(--third-clr);
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.line {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid white;
  margin-left: 10px;
}
.green {
  color: var(--secondary-clr);
  width: min-content;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.skillsIcons{
  display: flex;
}
