.ContactComponent {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  font-family: var(--font-family);
  margin: 0 auto;
  padding-bottom: 50px;
}

.gold {
  color: var(--third-clr);
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ContactPara {
  text-align: center;
}

.ContactLinkedin {
  all: unset;
  color: var(--secondary-clr);
  transition: opacity 0.3s ease;
}

.ContactLinkedin:hover{
  cursor: pointer;
  opacity: 0.7;
}

.ahref {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.messageIcon,
.span {
  transition: color 0.25s ease;
  color: var(--color-dark);
  /* color: red; */
}

.messageIconDark,
.spanDark {
  transition: color 0.25s ease;
  color: var(--color);

  /* color: yellow; */
}

/* .span {
  color: var(--color);
}

.spanDark {
  color: var(--color-dark);
} */

.messageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 0.8rem;
  width: fit-content;
  margin: auto;
  transition: color 0.25s ease;
}

.messageContainer:hover .messageIcon {
  color: var(--secondary-clr);
}

.messageContainer:hover .messageIconDark {
  color: var(--secondary-clr);
}

.messageContainer:hover .spanDark {
  color: var(--secondary-clr);
}

.messageContainer:hover .span {
  color: var(--secondary-clr);
}
