.App {
  background-color: var(--bg-clr-light);
  color: var(--color-dark);
  height: fit-content;
}

.AppDark {
  background-color: var(--bg-clr);
  color: var(--color);
}

.Components {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}
