.App {
  background-color: var(--bg-clr);
  color: var(--color);
  /* height: 100vh; */
  height: fit-content;
  /* padding-bottom: 100px; */
}

.Components{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
