.Container {
  display: flex;
  /* column-gap: 100px; */
  column-gap: 5%;
  justify-content: center;
  /* align-items: center; */
  font-size: var(--font-size);
  font-family: var(--font-family);
  margin-bottom: 20px;
  /* height: 100vh; */
}

.myCard {
  width: 35%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  background-color: var(--bg-clr-card);
  border-radius: 10px;
}

.githubLink {
  display: flex;
  justify-content: center;
}

.githubIcon {
  transition: opacity 0.3s ease;
  width: 100%;
}

.githubLink:hover .githubIcon {
  opacity: 0.7;
}

.PersonalElevatorPitch {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* row-gap: 10px; */
  /* background-color: blue; */
}

.personalInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 30px 0px;
}

.jobTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.personalInfo > p {
  font-size: var(--font-size);
  text-align: center;
  /* background-color: red; */
}

.title {
  color: var(--third-clr);
  text-align: center;
}

.myPhoto {
  border-radius: 50%;
  width: 60%;
}

.socialContainer {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.download {
  all: unset;
  background-color: var(--bg-clr-download);
  width: 100%;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  padding: 10px 0px;
}

.gold {
  color: var(--third-clr);
}

.line {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid white;
  margin-left: 10px;
}
.green {
  color: var(--secondary-clr);
  width: min-content;
}

.elevatorPitchSection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.elevatorPitchPara {
  font-size: clamp(12px, 2vw, 30px);
}

.cards {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.number {
  font-size: clamp(20px, 4vw, 40px);
}

.expCard {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-clr-card);
  width: 50%;
  padding: 10px 0px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .Container {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .myCard {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .personalInfo {
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    padding: 10px 0px;
  }
  .myPhoto {
    width: 48%;
  }

  .download {
    width: fit-content;
    display: flex;
    justify-content: center;
    height: 255px;
    border-radius: 0px 10px 10px 0px;
  }
  .download > p {
    display: none;
  }
  .PersonalElevatorPitch {
    width: 95%;
    row-gap: 10px;
  }
  .myName {
    font-size: clamp(18px, 3vw, 25px);
    text-align: center;
  }
  .downloadIcon {
    width: 28px;
  }
  .githubIcon {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .download {
    height: 165px;
  }
}
